* {
  margin: 0px;
  padding: 0px;
  font-family: "Delius Unicase";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#title {
  font-size: 50;
  color: skyblue;
}

#values {
  color: palevioletred;
}

.box {
  height: 200px;
  width: 300px;
}

.main {
  width: 1200px;
  height: 1200px;
  background-color: pink;
  font-size: 12px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: 
  "a a a b b b"
  "a a a b b b"
  "c c c d d d"
  "c c c d d d"
  "e e e f f f"
  "e e e f f f";
} 

.a {
  grid-area: a;
  background-color: red;
}

.b {
  grid-area: b;
  background-color: orangered;
}

.c {
  grid-area: c;
  background-color: yellowgreen;
}

.d {
  grid-area: d;
  background-color: violet;
}

.e {
  grid-area: e;
  background-color: purple;
  color: whitesmoke;
}

.f {
  grid-area: f;
  background-color: blueviolet;
  color: whitesmoke;
}

@media (max-width: 1000px) {
  .main {
      grid-template-areas: 
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  } 
}