* {
  margin: 0px;
  padding: 0px;
}

#title {
  font-size: 50;
}

.box {
  height: 200px;
  width: 300px;
}

.main {
  width: 1000px;
  height: 1000px;
  background-color: pink;
  font-size: 15px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: 
  "a a a b b b"
  "a a a b b b"
  "c c c d d d"
  "c c c d d d"
  "e e e f f f"
  "e e e f f f";
} 

.a {
  grid-area: a;
  background-color: red;
}

.b {
  grid-area: b;
  background-color: orangered;
}

.c {
  grid-area: c;
  background-color: yellowgreen;
}

.d {
  grid-area: d;
  background-color: violet;
}

.e {
  grid-area: e;
  background-color: purple;
}

@media (max-width: 1000px) {
  .main {
      grid-template-areas: 
      "a"
      "b"
      "c"
      "d"
      "e";
  } 
}